    /* текстовые параметры */
    *  {
        /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
        /* font-family: 'Fira Sans', sans-serif; */
        font-family: 'Neucha', cursive;
        /* font-family: 'Russo One', sans-serif; */
        font-size: 23px;
        font-weight: 500;
    }

    h1{
        font-size: 80px;
        font-weight: 900;
        color: #1f0288;
        text-align: center;
    }

    h2{
        font-size: 50px;
        font-weight: 900;
        color: #1f0288;
    }


    p {
        line-height: 23px;
        letter-spacing: 1px;
        text-align: justify;  
    }


    /* отступы */
    * {
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0px 35px;
    }
    h1{  

        margin: 60px 0;
    }
    h2{
        margin-top: 60px;
        margin-bottom: 25px;
    }
    
    p{
        margin-bottom: 20px;
    }
     .note {
        display: block;
        margin-bottom: 60px;     }




    /* Медиаконтент */
    body {
        background-image: url(../IMG/фон.png);
        background-size: cover;
    }


    img{
        width: 800px;
        display: block;
        margin: 0 auto;
        margin-bottom: 50px;
    }



    .video {

        display: block;
        width: 80%;
        aspect-ratio: 16/9;
        margin: 0 auto;
        margin-top: 50px;
    }


    

    
    


    /* Ссылки */ 
a {
    text-decoration: none;
    color: blue;
}

a:visited {
    color: #026969;
}





/* Шапка сайта */
header {
    height: 150px;
    background-color: #0d3b61;
    
}

.menu-container {
    height: 30px;
    max-width: 1000px;
    padding: 50px 35px;
    margin: 0 auto;
    text-align: center;

}


.menu {
    color: #ffffff;
    font-weight: 700;
    font-size: 25px;
    margin-right: 30px;
   
}
.menu:visited {
    color: aliceblue;
    font-weight: 700;
    font-size: 25px;
    margin-right: 30px;
}


.menu:hover {
    color: #c239b9;

}






/* подвал сайта */

footer {
    height: 230px;
    background-color: #0d3b61;
}
.footer-container {
    height: 30px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 35px;

}
.author{
    color: #ffffff;
}
 /* кнопка */
 .button {
    display: block;
    width: 45%;
    margin:70px auto;
    padding: 25px 50px;
    border-radius: 60px;


    background-color: #0d3c63; 
    color: white;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

    .button:hover{
        background-color: #c239b9;
        color: aqua;
    }

    /* Оглавление статьи */
    
    .chapters  {

        display: block;
        margin-bottom: 10px;

        color: black;
        text-decoration: none;
        font-weight: 700    ;
    }

    .chapters:visited {
        color: purple;
    }


    .chapters:hover {
        color: #0d3c63;
    }

    .content-border {
        padding-top: 30px;
        padding-bottom: 20px;
        padding-left: 35px;
        margin-bottom: 50px;

        /* background-color: #1f0288; */
        border: purple dotted 5px;
        border-radius: 35px;
    }
